fastapi[standard]
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
pydantic_settings
python-dotenv
alembic
passlib
bcrypt
PyJWT==2.7.0
python-jose[cryptography]
faker
fastapi_pagination
pillow
python-multipart


